h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #122336;
}

[class *="col-"] {
    border: 1px solid black;
    background-color: #BC4E67;
}

.alert {
    display: none;
}

[class *="accordion-"] {
    background-color: #BC4E67;
}

[class *="accordion-button"] {
    background-color: #467DBD;
}

body {
    background-color: #FFFFFF;
}

[class *="container-fluid"] {
    background-color: #467DBD;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}